body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

.creative {
  color: midnightblue;
}

.card {
  display: inline-block;
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.tile-image {
  float: left;
  height: 200px;
  margin-right: 50px;
}

h1 {
  font-size: 5rem;
}


footer {
  text-align: right;
  color: midnightblue;
  clear: both;
}


@media (max-width: 680px){
  .logo{
    width: 100px;
  }

  h1{
    font-size: 3.5rem;
    text-align: center;
  }

  .card{
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }

  .tile-image {
    width: 100%;
    margin-bottom: 10px;
    object-fit: cover;
    display: inline;
  }

  .card > p {
    text-align: justify;
  }
}
